---
---

@import "{{ site.theme }}";
@import "ugs-colors";

h1 a { color: #d8d8d8; }

#banner #buttons {
  position: fixed;
  left: 50%;
  margin-left: -325px;
}

@media print, screen and (max-width: 680px) {
  #banner #buttons {
    position: relative;
    left: 0;
    margin-left: 10px;
  }
}
