---
---

@import "{{ site.theme }}";
@import "ugs-colors";

h1 a { color: #d8d8d8; }

body { min-width: 300px; }

// Fix horizontal position of buttons
#banner #buttons {
  position: fixed;
  left: 50%;
  margin-left: -325px;

  @media print, screen and (max-width: 680px) {
    position: relative;
    left: 0;
    margin-left: 10px;
    white-space: nowrap;
  }
}


@media print, screen and (max-width: 480px) {
  section { margin-top: 40px; }
  #banner {
    position: absolute;
    display: block;
    top: 58px;
  }
}
